* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

/***************************************************** HEADER STYLE ***************************************************/
.header {
  height: 80px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgb(177, 177, 177);
}
.logo {
  width: 80px;
  height: 100%;
}
.nav-list-items {
  height: 100%;
  flex: 1;
}
.nav-list-items > ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list-items > ul > li {
  height: 100%;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.nav-icon {
  display: flex;
  align-items: center;
  font-size: large;
  column-gap: 10px;
  text-decoration: none;
  color: #747474;
}
.nav-icon:hover {
  color: #ffc300;
}

/************************************************* BODY COMPONENT STYLE *****************************************************/

/************* SEARCH BAR STYLE ******************/
.search-container {
  width: 50%;
  height: 2rem;
  padding: 0 5%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.search-container > input {
  background-color: #f5f5f5;
  font-size: large;
  padding: 0 10px;
  flex: 1;
  border: 2px solid #ffd036;
  outline: #ffd036;
}

.search-btn {
  font-size: large;
  color: #666666;
  width: 20%;
  border: 2px solid #ffd036;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-btn:hover {
  color: #ffd036;
}

/************* RESTAURANT SECTION STYLES*********/
.restaurant-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 4%;
}

.card {
  width: 22%;  
  min-height: 20rem;
  box-shadow: 2px 2px 10px rgb(177, 175, 175);
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-decoration: none;
}
.card:hover{
  border: 1px solid rgb(166, 166, 173);
}
.card > img {
  width: 100%;
}
.card-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurant-name {
  font-size: large;
  font-weight: bold;
  word-spacing: 2px;
  display: flex;
  align-items: center;
  color: rgb(68, 68, 68);
}
.cuisines {
  color: #686b78;
  font-size: medium;
  display: flex;
  align-items: center;
}
.card-details > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(68, 68, 68);
  font-weight: 500;
}

/********************************************** Restaurand Menu *******************************************************************/

.restaurant-details-container{
  width: 60%;
  margin:25px auto;
}
.restaurant-details{
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15%;
  padding-bottom: 20px;
  border-bottom: 1.5px dashed #b3b3b3;
}

.restaurant-info{
  flex: 1;
}

.restaurant-img{
  width: 20%;
}
.restaurant-img>img{
  box-shadow: 2px 2px 5px rgb(170, 169, 169);
  width: 100%;
}


/********************************************** SHIMMER UI *************************************************************/
.shimmer-restaurants{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 4%;
}
.shimmer-card{
  padding: 10px;
  width: 22%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shimmer-img{
  height: 60%;
  width: 100%;
  background-color: #cacaca;
}
.shimmer-info1{
  height: 8%;
  width: 75%;
  background-color: #cacaca;
}
.shimmer-info2{
  height: 8%;
  width: 60%;
  background-color: #cacaca;
}